body {
    background: #DAE0E6 !important;
}

.topic-title-background{
    background-color: #e1f2e8;
}

.my-vote-icon{
    font-size: 1.4em;
}

.good-button{
    border: medium solid #ff00ff;
}

.custom-file-input:lang(ja) ~ .custom-file-label::after {
    content: "参照";
}

.custom-file {
    overflow: hidden;
}

.custom-file-label {
    white-space: nowrap;
}

