body {
  background: #DAE0E6 !important;
}

.topic-title-background {
  background-color: #e1f2e8;
}

.my-vote-icon {
  font-size: 1.4em;
}

.good-button {
  border: medium solid #ff00ff;
}

.my-bg-success {
  background-color: #F1F8DE;
}

.my-font-bold {
  font-weight: bold;
}

.my-btn-secondary {
  background-color: #E9ECEF;
  color: #485057;
  border: 1px solid #a0a8b0;
}

.my-accordion {
  overflow-wrap: break-word;
  overflow: hidden;
  transition: 300ms ease-out;
}

